doctype html
html(lang='es')
    head
        title App de ejemplo
        meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    body(style='padding-bottom:10rem;')
        .container
            block content
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js")
        script(src="js/app.js")
