extends home
block content 
    h1 Ejemplo de CRUD con sockets.io
    .col-xs-4
        form#formulario
            .form-group
                label(for="_id") ID:
                input#_id.form-control(type="text", placeholder="ID del usuario")
            .form-group
                label(for="first_name") Nombres:
                input#first_name.form-control(type="text", placeholder="Ingrese sus nombres")
            .form-group
                label(for="last_name") Apellidos: 
                input#last_name.form-control(type="text", placeholder="Ingrese sus apellidos")
            .form-group
                label(for="timezone") Region: 
                input#timezone.form-control(type="text", placeholder="-5" value="-5")
            .form-group
                label(for="locale") Idioma:
                input#locale.form-control(type="text", placeholder="Idioma de preferencia")
            .form-group 
                label(for="profile_pic") Foto:
                input#profile_pic.form-control(type="text", placeholder="URL de la foto")
            .form-group
                label(for="mayor_edad") ¿Eres mayor de edad?
                br
                select#mayor_edad(name="")
                    option(value="true") SI
                    option(value="false") NO
            br
            button.btn.btn-success(type="submit") Guardar
    .col-xs-8
        table.table.table-striped.table-bordered.table-hover
            thead
                tr
                    th ID
                    th Nombres
                    th Apellidos
                    th Zona horaria
                    th Idioma
                    th Foto
                    th ¿Mayor de edad?
                    th Editar
                    th Eliminar
            tbody